/*MainWindow.cpp GraphicWidget.cpp AnomalySearch.cpp DownloadMenu.cpp*/
#mainWindow {
	background-color: rgb(66, 143, 143);
	color: black;
	border-radius: 10px;	
}

#allButton {
	background-image: none;
	background-color: rgb(26, 100, 31);
	border-width: 1px;
	border-color: black;
	color: rgb(239, 255, 0);
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px; 
}

#allButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#allButton:active {
	background-color: rgb(199, 43, 10);
}

#dealsButton {
	background-image: none;
	background-color: rgb(0, 145, 255);
	border-width: 1px;
	border-color: black;
	color: rgb(8, 8, 8);
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#dealsButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#dealsButton:active {
	background-color: rgb(199, 43, 10);
}

#commongraphicallButton {
	background-image: none;
	background-color: rgb(176, 0, 255);
	border-width: 1px;
	border-color: black;
	color: rgb(239, 255, 0);
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#commongraphicallButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;	
}

#commongraphicallButton:active {
	background-color: rgb(199, 43, 10);
}

#commongraphicdealsButton {
	background-image: none;
	background-color: rgb(255, 152, 0);
	border-width: 1px;
	border-color: black;
	color: rgb(8, 8, 8);
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#commongraphicdealsButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#commongraphicdealsButton:active {
	background-color: rgb(199, 43, 10);
}

#dialog {
	background-color: rgb(0, 145, 255);
	border-radius: 10px;
	border-width: 1px;
	border-color: black;
	color: black;
}

#anomalyButton {
	background-image: none;
	background-color: rgb(0, 224, 220);
	border-width: 1px;
	border-color: black;
	color: rgb(8, 8, 8);
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#anomalyButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#anomalyButton:active {
	background-color: rgb(199, 43, 10);
}

#downloadButton {
	background-image: none;
	background-color: rgb(239, 255, 0);
	border-width: 1px;
	border-color: black;
	color: rgb(8, 8, 8);
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#downloadButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#downloadButton:active {
	background-color: rgb(199, 43, 10);
}

#aboutprButton {
	background-image: none;
	background-color: rgb(69, 168, 213);
	border-width: 1px;
	border-color: black;
	color: rgb(8, 8, 8);
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#aboutprButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#aboutprButton:active {
	background-color: rgb(199, 43, 10);
	color: white;
}

#instrumLab {
	color: red;
}

#saveButton {
	background-image: none;
	background-color: rgb(255, 152, 0);
	color: rgb(8, 8, 8);
	border-width: 1px;
	border-color: black;
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#inflationTV {
	border: solid;
	border-width: 1px 1px 1px 1px;
	border-color: black;
	font-size: 24px;	
}

/*OpenDialog.cpp OpenDialogDeals.cpp*/
#instrChooseWindow {
	background-color: rgb(0, 145, 255);
	border-radius: 10px;
}

#boards button {
	background-image: none;
	color: rgb(8, 8, 8);
	background-color: rgb(255, 152, 0);
	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
   		inset rgba(252,255,255,.7) 0 3px 8px,
   		rgba(0,0,0,.8) 0 3px 8px -3px;	
}

#treeViewI {
	color: rgb(8, 8, 8);
	background-color: rgb(255, 152, 0);
}

#confirmButton {
	background-image: none;
	background-color: rgb(239, 255, 0);
	color: rgb(8, 8, 8);
	border-width: 1px;
	border-color: black;
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#confirmButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#confirmButton:active {
	background-color: rgb(199, 43, 10);
	color: white;
}

#closeButton {
	background-image: none;
	border-width: 1px;
    border-color: black;
	background-color: rgb(255, 9, 0);
	color: yellow;
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

#closeButton:hover {
	background-color: rgb(51, 36, 249);
	color: white;
}

#closeButton:active {
	background-color: rgb(199, 43, 10);
	color: white;
}

/*AnomalySearch.cpp DownloadMenu.cpp*/
#tvAnomality {
	border: solid;
	border-width: 1px 1px 1px 1px;	
	border-radius: 5px;
}

#errorMessage {
	background-color: rgb(31, 207, 224);
	color: red;
	border-radius: 10px;
}

#downloadWindow {
	background-color: rgb(31, 207, 224);
	border-radius: 10px;	
}

#progBar {
	color: red;
}

#progBar trough progress{
	min-height: 20px;
	background-color: rgb(211, 67, 218);
}

#progBar trough {
	min-height: 20px;	
}

#dateServer {
	color: black;
}

#finishMessage {
	background-color: rgb(31, 224, 75);
	border-radius: 10px;
}
